* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    height: 60px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
    padding: 30px 60px;
    display: flex;
    justify-content: end;
    align-items: center;
}

nav {
    display: flex;
    width: 60%;
    justify-content: end;
}

nav>ul {
    display: flex;
    width: 70%;
    justify-content: space-between;
    list-style-type: none;
}

nav>ul>li>a {
    color: black;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}